<p id="notice"><%= notice %></p>

  <div class="container" id="show_div">
      <p>
      <strong id="edit_user_name">Name:</strong>
      <%= @user.name %>
      </p>
    
      <%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-success", :id => "edit_showbutton" %> 
      <%= link_to 'Back', users_path, :class => "btn btn-primary" , :id => "edit_showbutton" %>

  </div>
    