
        <div id= "maindiv_aboutus">
            <h1 id="aboutus_h1">About Us</h1>
        </div>
        
        <div class="row">
            <div class="col-md-4" id = "sachin_div">
                <%= image_tag("sachin.png", :class =>"img-circle", :alt => "rss feed" , :id => "trupti_id") %>
                <h4>Sachin Patel</h4>
                <p>
                    I have completed my graduation in B-TEch Computer Science. I am pursuing
                    Post graduation Diploma in MOBILE SOLUTIONS DEVELOPMENT at Conestoga College, Kitchener. 
                </p>
                 
            </div>
            <div class="col-md-4" id = "trupti_div">
                  <%= image_tag("trupti.png", :class =>"img-circle", :alt => "rss feed" , :id => "trupti_id") %>
                   <h4>Trupti Patel</h4>
                   <p>
                     I have completed my graduation in B-TEch Computer Science. I am pursuing
                     Post graduation Diploma in MOBILE SOLUTIONS DEVELOPMENT at Conestoga College, Kitchener. 
                       
                   </p>
                   
            </div>
            <div class="col-md-4">
                 <%= image_tag("jaspreet.png", :class =>"img-circle", :alt => "rss feed" , :id => "trupti_id") %>
                <h4 id= "text">Jaspreet Janjuha</h4>
                <p>
                    I have completed my graduation in B-TEch Computer Science. I am pursuing
                    Post graduation Diploma in MOBILE SOLUTIONS DEVELOPMENT at Conestoga College, Kitchener. 
                </p>
            </div>
        </div>