
        <div id= "maindiv_aboutus">
            <h1 id="aboutus_h1">About Us</h1>
        </div>
        
        <p id="about_fullbody">
            Our Event Hub website is for the Events. We provide all the users that they can see all the Coming Events. Hence, Any User can book the ticket for the event. 
            Moreover any User can create an event but first they need to Log IN. 
            
            Event Hub is developed by three young developer namely Sachin Patel (Back End Developer) , Trupti Patel (Front End Developer) , Jaspreet Janjuha.
        </p> 

       <!-- <div class="row">
            <div class="col-md-4" id = "sachin_div">
                <%= image_tag("sachin.png", :class =>"img-circle", :alt => "rss feed" , :id => "trupti_id") %>
                <h4 id= "text">Sachin Patel</h4>
                <p id="about_body">
                    Completed graduation in B-TEch Computer Science, now pursuing
                    Post graduation Diploma in MOBILE SOLUTIONS DEVELOPMENT at Conestoga College, Kitchener. 
                    And Backend Developer in Event HUB
                </p>
                 
            </div>
            <div class="col-md-4" id = "trupti_div">
                  <%= image_tag("trupti.png", :class =>"img-circle", :alt => "rss feed" , :id => "trupti_id") %>
                   <h4 id= "text">Trupti Patel</h4>
                   <p  id="about_body">
                     Completed graduation in B-TEch Computer SEngineering, now pursuing
                     Post graduation Diploma in MOBILE SOLUTIONS DEVELOPMENT at Conestoga College, Kitchener. 
                     And FrontEnd Developer in Event HUB  
                   </p>
                   
            </div>
            <div class="col-md-4">
                 <%= image_tag("jaspreet.png", :class =>"img-circle", :alt => "rss feed" , :id => "trupti_id") %>
                <h4 id= "text">Jaspreet Janjuha</h4>
                <p  id="about_body">
                    Completed graduation in B-TEch Computer Science, now pursuing
                    Post graduation Diploma in MOBILE SOLUTIONS DEVELOPMENT at Conestoga College, Kitchener. 
                </p>
            </div>
        </div> -->