// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#maindiv_aboutus
{
    height: 150px;
    width: 100%;
    background-color: darksalmon;
    text-align: center;
    
}

#aboutus_h1
{
    color: aliceblue;
    height: 30%;
    padding-top: 5%;
}
#trupti_id
{
   width: 30%;
 
}
.row
{
    margin-top: 5%;
   
}

#text
{
    color: crimson;
    font-family: cursive;
    font-size: x-large;
}
